.settings-notifications{
    padding-block: 2.5rem;
}

.settings-notifications-header h1{
        font-size: 1rem;
        margin: 0;
        margin-bottom: 3rem;
        font-weight: 500;
}

.settings-notifications-header .big-txt{
    font-size: 1.8rem;
    margin: 0;
    margin-bottom: 0.7rem;
}

.settings-notifications-header{
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 4rem;
}

.notifications-general{
   padding-bottom: 4rem;
   border-bottom: 1px solid var(--border-color);
}

.general-header h1, .email-header h1{
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 2rem;
}

.your-preferences{
    display: flex;
    gap: 5rem;
    margin-top: 2rem;
}

.preferences-header{
    width: 150px;
}

.preferences-header h1{
    font-size: 0.95rem;
    font-weight: 500;
}

.preferences-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.preferences p{
    margin: 0;
font-size: 0.92rem;
}

.preferences{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-self: flex-end;
}


.switch-container{
    display: flex;
    align-items: start;
    height: 48px;
}

.email-header p{
    font-size: 0.75rem;
    color: var(--text-secondary);
}

.email-notifications-options{
    display: flex;
    gap: 7.55rem;
    margin-top: 2.5rem;
}

.email-notifications-left{
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
    padding-top: 0.4rem;
    width: 150px;
}



.email-notifications-left p{
    margin: 0;
    font-size: 0.9rem;
    font-weight: 500;
}

.email-notifications-right{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.three-preferences{
    margin-top: 4rem;
    gap: 5.55rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid var(--border-color);
}

.three-preferences .preferences-header h1{
    font-size: 0.9rem;
}
.notifications-language{
    display: flex;
    margin-top: 3rem;
    gap: 6rem;
}

.language-header{
    width: 150px;
}

.language-header h1{
    font-size: 1rem;
}

.choose-language{
    width: 300px;
}