.home{
    padding: 0.5rem 1rem;
    margin: 0;
}


.home-categories{
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    scroll-behavior: smooth;
    width: 100%;
    gap: 1rem;
}