.home{
    padding: 0.5rem 1rem;
    border: 1px solid red;
    margin: 0;
}

.home-categories-container{
    width: 90%;
}

.home-categories{
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    scroll-behavior: smooth;
    width: 100%;
    gap: 1rem;
}