.categories-container-top{
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 65px;
  background-color: var(--primary-bg);
  gap: 1rem;
  z-index: 999;
  padding-bottom: 1rem;
}
.categories{
    overflow-x: scroll;
    margin: 0 auto;
    display: flex;
    gap: 0.5rem;
    padding: 0.1rem 0rem;
    z-index: 1000;
    background-color: var(--primary-bg);
  }

  .categories::-webkit-scrollbar{
    display: none;
  }

  
  .categories-container{
    position: relative;
    width: 90%;
  }
  
  .category-arrow{
    border-radius: 50%;
    padding: 0.5rem 0.55rem;
    transition: 0.3s;
    cursor: pointer;
  }

  .category-arrow:hover{
    background-color: var(--button-bg);
  }
  
  
  .categories::before,
.categories::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px; /* Adjust the width as needed */
  pointer-events: none;
  z-index: 1;
}

.categories::before {
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.88), rgba(255, 255, 255, 0));
}

.categories::after {
  background: linear-gradient(to left, rgba(255, 255, 255, 0.88), rgba(255, 255, 255, 0));
}

[data-theme="dark"] .categories::before {
  background: linear-gradient(to right, rgba(13, 13, 13, 0.88), rgba(13, 13, 13, 0));
}

[data-theme="dark"] .categories::after {
  background: linear-gradient(to left, rgba(13, 13, 13, 0.88), rgba(13, 13, 13, 0));
}