.settings{
    display: flex;
    gap: 3rem;
    padding: 1rem;
}

.settings h1{
    font-size: 1.3rem;
    margin: 0;

}

.settings-list-container{
    flex-basis: 18%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.settings-list-container h1{
    margin-left: 1.2rem;
    color: var(--text-secondary);
}

.settings-list-option{
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 0.55rem;
    padding: 0.65rem 0rem 0.65rem 1.1rem;
    margin-left: 0.2rem;
    cursor: pointer;
}

.settings-list-option:hover{
    background-color: var(--button-bg);
}

.settings-list-option p{
    margin: 0;
    font-size: 0.95rem;
    font-weight: 500;
}

.account-settings{
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.account-settings-header, .account-settings-channel{
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 2rem;
}

.account-settings-header h1{
    font-size: 1rem;
}

.big-header{
    font-size: 1.5rem;
    margin: 0;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.signed-in-as{
    font-size: 0.9rem;
    margin: 0;
    margin-bottom: 1rem;
    color: var(--text-secondary);
}

.account-settings-small-txt{
    margin: 1rem 0;
    font-size: 0.8rem;
    color: var(--text-secondary);
}

.account-settings-create-channel p{
    margin: 0;
    color: var(--text-primary);
    font-weight: 500;
    font-size: 0.9rem;
}

.account-settings-create-channel{
    display: flex;
    gap: 8rem;
    align-items: center;
    margin-top: 2rem;
}

.settings-create-channel-btn{
    border: none;
    background-color: transparent;
    color: var(--link-color);
    font-weight: 500;
    text-decoration: none;
    font-size: 0.9rem;
    cursor: pointer;
}

.account-settings-your-account{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.your-account-header{
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

.settings-google-account-container{
    display: flex;
    gap: 7rem;
    margin-top: 3rem;
}

.settings-google-account-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
}

 .settings-google-account-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
  
.settings-google-account-left p, .settings-google-account-right p{
    margin: 0;
    font-size: 0.9rem;
}

.settings-google-account-left p{
    font-weight: 500;
}

.settings-google-account-right a{
    text-decoration: none;
    color: var(--link-color);
}

  .account-settings-small-txt {
    color: #555;
    margin: 0;
  }
  
