.home-category-title{
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-align: center; 
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: var(--secondary-bg);
    margin: 0 0.3rem;
}

.home-category-title p{
    margin: 0;
    font-size: 0.9rem;
    color: var(--text-primary);
    padding: 0.1rem 0.3rem;
    font-weight: 600;
}

::-webkit-scrollbar{
    display: none;
}