.navbar{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar a{
    text-decoration: none;
    color: var(--text-primary);
}

.navbar-options{
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    position: sticky;
    top: 0;
    background-color: var(--primary-bg);
}

.navbar-left-side{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.navbar-logo{
    cursor: pointer;
}

.navbar-menu-icon{
    cursor: pointer;
    padding: 0.6rem;
    border-radius: 50%;
    transition: 0.25s;
}

.navbar-menu-icon:hover{
    background-color: var(--button-hover);
}

.navbar-search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    gap: 0.8rem;
}

.navbar-search-container{
    display: flex;
    align-items: center;
    border: 1px solid rgb(178, 178, 178);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    width: 100%;
}

.navbar-search-input{
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    color: var(--text-primary);
}

.navbar-right-side{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 0.6rem;
}

.navbar-create-btn{
    display: flex;
    align-items: center;
    background-color: var(--button-bg);
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--text-primary);
    border: none;
    cursor: pointer;
}

.navbar-create-btn:hover{
    background-color: var(--button-hover);
}

.navbar-notification-icon{
    cursor: pointer;
    padding: 0.6rem;
    border-radius: 50%;
    transition: 0.25s;
}

.navbar-notification-icon:hover{
    background-color: var(--button-hover);
}

.navbar-mic{
    cursor: pointer;
    padding: 0.5rem 0.55rem;
    border-radius: 50%;
    transition: 0.25s;
    background-color: var(--button-bg);
}

.navbar-mic:hover{
    background-color: var(--button-hover);
}
