.notifications{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 53px;
    right: 70px;
    background-color: var(--secondary-bg);
    border-radius: 0.8rem;
    height: 85vh;
    width: 31vw;
}

.notifications-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 1rem;
    border-bottom: 1px solid var(--border-color-secondary);
}

.notifications-header h1{
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
}

.notifications-settings{
    cursor: pointer;
    padding: 0.7rem;
    transition: 0.2s;
    border-radius: 50%;
}

.notifications-settings:hover{
    background-color: var(--button-hover);
}


.empty-notifications{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8rem 6rem;
    text-align: center;
}
.notifications-text-big, .notifications-text, .notifications-bell-icon{
    color: var(--text-secondary);
    margin: 0;
}

.notifications-text-big{
    font-size: 1rem;
    font-weight: 600;
    margin: 1.5rem 0 1rem 0 ;
}

.notifications-text{
    font-size: 0.86rem;
}
